body {
    font-family: Helvetica;
    font-size: 22px;
    color: #FFF5EE;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    border-bottom: 1px solid seashell;
    height: 69px;
    background-color: black;
    padding-bottom: 19px;
    z-index: 99;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: seashell;
    
}

.logo {
    display: inline;
    font-size: 50px;
    margin-left: 10px;
    text-align: left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .container {
    padding-top: 102px;
  }

  /* .container {
      padding: 16px;
  } */

  h2, h4 {
      font-weight: normal!important;
  }

  #mission-text {
      background-color: black;
      position: absolute;
      top: 50%;
      margin: 0;
      width: 1200px;
      -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #mission {
      height: 700px;
      position: relative;
      width: 1200px;
      margin: auto;
      filter: brightness(50%);
      background:url('img-mission-background.jpg') no-repeat center top #FFF;
  }


  .links {
      display: flex;
      justify-content: space-around;
  }

  .my-links {
    margin: 7px;
  }
