body {
    font-family: Helvetica;
    font-size: 22px;
    color: #FFF5EE;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    
}

.header {
    border-bottom: 1px solid seashell;
    height: 69px;
    background-color: black;
    padding-bottom: 19px;
    z-index: 99;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: seashell;
    
}

.logo {
    display: inline;
    font-size: 50px;
    margin-left: 10px;
    text-align: left;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .container {
    padding-top: 102px;
  }

  /* .container {
      padding: 16px;
  } */

  #mission-text {
      background-color: black;
      position: absolute;
      top: 50%;
      margin: 0;
      width: 1200px;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }

  #mission {
      height: 700px;
      position: relative;
      width: 1200px;
      margin: auto;
      filter: brightness(50%);
      background:url('img-mission-background.jpg') no-repeat center top #FFF;
      margin-bottom: 80px;
  }


  .links {
      display: flex;
      justify-content: space-around;
  }

  .my-links {
    margin: 7px;
  }

  #featured-tea {
      width: 1000px;
      margin: auto;
      filter: brightness(50%);
      margin-bottom: 80px;
  }

.teas img {
    height: 200px;
    width: 300px;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teas h4 {
    margin-top: 10px;
}

#special {
    opacity: 1;
    border: 1px solid red;
}

.location-container {
    display: flex;
    justify-content: center;
}

.locations-div-container {
    background-color: black;
    width: 300px; 
    padding: 60px 5px;
}

.margin {
    margin-right: 40px;
}

.location-div {
    position: absolute;
    top: 50%;
    margin: 0;
    width: 1200px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.location-div h2 {
    margin-bottom: 15px;
}

#locations {
    height: 500px;
    position: relative;
    width: 1200px;
    margin: auto;
    filter: brightness(50%);
    background:url('img-locations-background.jpg') no-repeat center top #FFF;
    margin-bottom: 80px;
}

.contact {
    height: 200px;
    filter: brightness(50%);
}

.tagline {
    margin-left: 20px;
    text-align: left;
    filter: brightness(50%);
}