body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    border-bottom: 1px solid seashell;
    display: flex;
    height: 69px;
}

.header-content {
    flex-direction: row;
}

a {
    color: seashell;
    
}

h1 {
    display: inline;
    height: 50px;
    margin-left: 10px;
    text-align: left;
}